.brand {
  font-weight: var(--font-weight-5);
  color: var(--gray-0);

  @media (min-width: 640px) {
    /* margin-bottom: var(--size-3); */
  }

  @media (min-width: 768px) {
    /* margin-bottom: 0%; */
  }

  & a {
    font-size: var(--font-size-4);
  }
}
