.nav {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-1);
  gap: var(--size-4);

  @media (min-width: 520px) {
    display: flex;

    margin-right: auto;
    margin-left: var(--size-3);
    padding-block: var(--size-1);
    padding-left: var(--size-3);
    border-left: 1px solid var(--gray-7);
  }
}
